
  
*{ 
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    font-family: Arial, Helvetica, sans-serif;
}
.caja__superior{
    color: white;
    text-align: center;
    background: black;
    padding: 5px;
    display: flex;
}
.logo__psa{
    display: flex;
    width: 13%;
    margin-left: 80px;
    margin-top: 0;
    z-index: 1;
  }
.icono__superior{
    width: 1%
    }
.up__container{
    background-image: linear-gradient(to top, black, transparent), url(IMG/puerto\ sa.jpg);
    background-size: cover;
    color: white;
}
.upper_img{
    width: 100%;
}
h1{

padding-left: 10rem;
padding-top: 30rem;
padding-bottom: 10rem;
font-size: 300%;

}
.top__margn{
    
    font-size: 13px;
    text-transform: uppercase;
    padding: 1rem;
    display: inline-table;
    color: white;

}
.top__splash{
    padding-left: 60%;
}
.sub__title{
    font-style: oblique;
    font-weight: 20;
}
.container__transbar{
 margin-left: 100px;
 border: thin;
 border-color: white;
}
.trans__bar{
    display: inline-table;
    border: white;
    margin-left: 10px;
    padding: 10px;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    border: thin;
    border-color: white;

}
h2{
   
    font-weight: 30;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5%;
}