
  
*{ 
    margin: 0;
    padding: 0;
    /*box-sizing: content-box;*/
    font-family: Arial, Helvetica, sans-serif;
}
header{
  
}
/*caja superior negra*/
.caja__superior{
    color: white;
    text-align: center;
    background: black;
    padding: 5px;
    display: flex;
}
.logo__psa{
    
    padding-left: 80px;
    margin-top: 0;
    margin-bottom: -15rem;
    max-width: 10%;
    
  }
.img__psa{
   max-height: 40%;
}

.icono__superior{
    width: 1%
    }
/*Horizonte San antonio*/   
.up__container{
    background-image: linear-gradient(to top, black, transparent), url(IMG/puerto\ sa.jpg);
    background-size: cover;
    color: white;
}

.upper_img{
    width: 100%;
}
h1{

padding-left: 10rem;
padding-top: 30rem;
padding-bottom: 10rem;
font-size: 300%;

}
.top__margn{
    
    font-size: 13px;
    text-transform: uppercase;
    padding: 1rem;
    display: inline-table;
    color: white;

}
.top__splash{
    padding-left: 60%;
}
.sub__title{
    font-style: oblique;
    font-weight: 20;
}
.container__transbar{
 margin-left: 20%;
 border: thin;
 border-color: white;
 display: flex;
 flex-wrap: wrap;

}
.trans__bar{
    display: flex;
    flex-wrap: wrap;
     padding: 10px;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
   border: 2px groove rgba(255, 255, 255, 0.4);
   transition: background-color 0.5s ease-out;
    margin: -.3%;
}
.trans__bar:hover{
    background-color: #1ce;
}

.container__transbar div:nth-child(1){
    padding-bottom: 2.3%;
}
.container__transbar div:nth-child(3){
    padding-bottom: 2.3%;
}
.container__transbar div:nth-child(5){
    padding-bottom: 2.3%;
}
.container__transbar div:nth-child(8){
    padding-bottom: 2.3%;
}

/*Cifras destacadas*/
.container {
    max-width: 1100px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
   
}
.facts-row {
    position: relative;
    min-height: 50%;
    background: white;
    padding-top: 5rem;
    color: gray;
}

.facts-row .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 20%;

   
}
.facts-row__title {
    margin-bottom: 0;
    text-align: center;
    font-weight: 30;
}

.facts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
}

.fact {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    flex: 33%;
    max-width: 33%;
    margin-bottom: 2rem;
}
.fact__icon {
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 50px;
  
}

.fact__number{
    color: rgb(42, 183, 243);
    font-size: 3rem;
    font-weight: 20;
}
.fact__label {
    grid-column: 2/3;
    text-transform: uppercase;
}


/*Sección de sostenibilidad*/

.sustain{
    background-image:  linear-gradient(to top, black, transparent), 
    url(IMG/sunset.jpg );
   background-size: cover;
    color: white;
    padding: 10%;
}

.sustain__title{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 200%;
    font-weight: lighter;
 
}
.sustain__sub{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
       
}
.sustain__images{
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    flex: 33%;
    max-width: 33%;
    margin-bottom: 1rem;
  
}
.container__images{
    
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: 20%;
    
}
.img__7colores{
    display: inline-flex;
    width: 350%;
    margin-left: 5rem;
 
}
.img__bellamar{
    display: inline-flex;
    width: 400%;
    padding-left: 4rem;
  
}
.img__orqsa{
    display: inline-flex;
    width: 350%;
    padding-left: 5rem;
    padding-bottom: 3rem;
  
}
.subs__text{
   
    margin-top: 12rem;
    font-size: 80%;
    padding-right: 8%;
    text-transform: none;
    margin-bottom: .3rem;

}
.sust__lowtext{
font-size: 1.3rem;
text-align: center;
padding-bottom: 1rem;
padding-top: 7rem;
padding-left: 10%;
padding-right: 15%;

}
.sost__transbar {
    margin-top: 2rem;
    margin-left: 8rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-flex;
   padding: 2rem;
   padding-left: 2rem;
   font-size: 1rem;
    font-weight: bold;
  transition: background-color 0.5s ease-out;
  align-items: center;
  

}
.sost__transbar:hover{
background-color: #1ce;
}

/* Sección "destacamos" */

.destacamos{
    background-color: gainsboro;
    padding: 0rem;
    margin: 0;
 
}

.destacamos__title{
color: gray;
font-size: 2rem;
font-weight: lighter;
padding: 4rem;
display: flex;
flex-wrap: wrap;
text-transform: uppercase;

}
.container__imgdata{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    
    
}
.img__destacamos{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: row;
  
}
.img__aerial{
  flex-wrap: wrap;
    padding-top: 5%;
    width: 40%;
    margin-left: 8%;
   
   
}
.container__data{
    
    background-color: white;
    padding: 1.4rem;
    padding-left: 4rem;
    margin-right: 10%;
    float: right;
    width: 40%;
    margin-top: 5.5%;
    margin-left: -6rem;
   height: 70%;
    
   
  
}
.container__datatext{
    font-size: 1.7rem;
    color: gray;
    flex-direction: row;
    padding: 4%;
}
.small__datatext{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 2.8rem;
    line-height: 1.5rem;
}
.bluetext__small{
    padding-left: 1rem;
    padding-top: .8rem;
    color: rgb(42, 183, 243);
    font-weight: bold;
    font-size: 1rem;
}